
<div [ngClass]="{'dark-theme': isDarkTheme | async}">
    <div class="mat-app-background">
        <div class="div100Sp">
            <div class="div90">
                <img class="card-img-top" src="/assets/mini.jpg">
            </div>
            <div class="div10">
                <app-toolbar></app-toolbar>
            </div>
        </div>
      
      <div class="content">
        
           
        <mat-card-subtitle> 
            <div class="div100Sp">
                <div class="div90">
                   <h1>Termo de Coleta</h1>
            </div>
            <div class="div10Left">
                <input type="text" disabled value="{{ dataAtual | date:'dd/MM/yyyy'}}" class="div100"/>                 
            </div>
        </div>
        </mat-card-subtitle>
        <mat-card-subtitle> 
            <div class="div100Sp">
                <div class="div70">           
                    <h2>DIEGO APARECIDO MUNIZ DOS SANTOS</h2> 
                </div>
                <div class="div30">
                    <select name="time" class="div100">
                        <option><span style="color: rgb(117, 6, 12);">ESCRITÓRIO SECCIONAL BELO HORIZONTE</span></option>
                    <option style="background-color: rgb(200, 227, 252);"  value="Coordenadoria">COORDENADORIA REGIONAL PATOS DE MINAS</option>
                </select>
                </div>
            </div>
    </mat-card-subtitle>
    <app-coordenadoria> </app-coordenadoria>
            
      </div>
    </div>
  </div>



    
    
   

    
  
    


       
        
        
    


    

    


        


          
           
                  
           
           