<section *ngIf = "card == 'Redutores',else anotherCard ">

<div *ngFor="let content of reducers, let i=index">
	<div>
		<div class="wrapper_flex" [style.margin-top]="i == 0 ? '30px': '0px'"> 
			<span>{{content.arrowName}}</span>
			<div class="container_values">
				<div *ngFor="let  payloadContent of content.payload , let index=index">
					<span class="green_text">{{payloadContent.productName}}</span>

					<div class="container_middle_reduction">
						<div class="absolute_container" *ngIf="i == 0">
							<div class="dd">
								<p class='mini_titles'>{{payloadContent.columnName}}</p>
							</div>
						</div>
						<input type="range" value="{{payloadContent.value}}"  max="100" disabled class="slider">
					</div>

					<span>{{payloadContent.porcetage}}</span>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>




</section>

	<ng-template #anotherCard>
		<h1>Pré-aquecedores de água</h1>
		<div class="wrapper_measurement_cards">
			<div class="measurement_card" *ngFor="let content of cards">
				<p>texto</p>
				<div class="accountants" >
					<p>20°C</p>
					<input type="range" disabled class="slider_measurement">
				</div>
				<p>Operando</p>
			</div>
		</div>
	</ng-template>
