<form [formGroup]="appForm" name="myForm" class="example-form">
    <div class="center">
        <div class="center">

            <div class="div100">
                <div class="div20">
                    <mat-form-field appearance="fill">
                        <mat-label>Cultura * </mat-label>
                        <mat-select>
                            <mat-option formControlName="cultura" *ngFor="let food of foods" [value]="food.value"
                                name="cultura" id="cultura" required>
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="div20">
                    <mat-form-field appearance="fill">
                        <mat-label>Variedade</mat-label>
                        <input type="text" matInput name="" autocomplete="off">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>

                <div class="div30">
                    <mat-form-field appearance="fill" class="inputFieldMed">
                        <mat-label>Quantidade Enviada (Gramas))</mat-label>
                        <input type="text" matInput name="" autocomplete="off">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>

                <div class="div30">
                    <mat-form-field appearance="fill" class="inputFieldMin">
                        <mat-label>Quantidade Enviada (Unidades)</mat-label>
                        <input formControlName="numerolacre" type="text" autocomplete="off" matInput #postalCode
                            maxlength="11">


                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="10">
                    <!-- <div class="20"> -->
                <mat-form-field appearance="fill" class="inputFieldMin">
                    <mat-label>Numero do Lacre</mat-label>
                    <input formControlName="numerolacre" type="text" autocomplete="off" matInput #postalCode
                        maxlength="11">


                    <mat-hint></mat-hint>
                </mat-form-field>
                <!-- </div> -->
            </div>
            </div>
        </div>

        <div class="div20">
            <div class="center">
            <div class="content" role="main">

                <label class="radioLabel">Foi usado algum Agrotóxico?</label>
                <mat-radio-group aria-label="Selecione uma opção" (change)="handleForm($event)"
                    class="padding-bottom-20">
                    <mat-radio-button value="1" class="padding-rigth-10">Sim</mat-radio-button>
                    <mat-radio-button value="0" checked>Não</mat-radio-button>
                </mat-radio-group>
            </div>

                <div *ngIf="isDisplayNone">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Qual?</mat-label>
                            <input formControlName="qual" matInput value="" required>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <mat-hint></mat-hint>

        </div>
       
        <div class="div40">
            <div *ngIf="isDisplayNone">
            <mat-form-field appearance="fill" class="inputFieldMin">
                <mat-label >
                    Data da Aplicação
                </mat-label>
                <input formControlName="data" id="data" required matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
</div>
        </div>

        <div class="div40">
            <div *ngIf="isDisplayNone">
            <mat-form-field appearance="fill" class="inputFieldMin">
                <mat-label>Onde Adquiriu?</mat-label>
                <input formControlName="" type="text" name="" id="" matInput placeholder="Ex.0000000">

                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        </div>
    </div>


    <div class="center">
        <div class="div100">
            <div class="50">
                <div *ngIf="isDisplayNone">
            <mat-form-field appearance="fill" class="inputFieldMed">
                <mat-label>Quem indicou o Agrotóxico</mat-label>
                <input formControlName="bair" type="text" name="bair" id="Bairro" matInput placeholder="Ex.Gama"
                    >

                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        </div>

        <!-- <mat-label>Outras Informações</mat-label>
        <textarea class="div100" rows="10" cols="4" maxlength="500"></textarea> -->
            <div class="50">
        <section>
            <div>
                <label for="">Outras informações</label>
                <textarea class="div100" id="" rows="2" cols="10">
            </textarea>
            </div>
        </section>
    </div>
    </div>
    </div>


    <div class="div100">

        <div class="div20">


            <div class="div100">
                <button mat-flat-button color="primary" class="button" type="button">Salva</button>
            </div>


        </div>
    </div>

</form>