<div class="wrapper_select_card_content">
	<div class="card-content2" [ngSwitch]='cardPosition'>
		<div class="container_options" *ngSwitchCase="'firts'">
			<div class="select_card" [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab , cardPosition)' *ngFor=' let content of firstCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
		<div class="container_options" *ngSwitchCase="'second'">
			<div class="select_card"  [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab , cardPosition)' *ngFor=' let content of secondCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
		<div class="container_options" *ngSwitchCase="'third'">
			<div class="select_card" [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab ,cardPosition)' *ngFor=' let content of thirdCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
		<div class="container_options" *ngSwitchCase="'fourth'">
			<div class="select_card" [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab , cardPosition)' *ngFor=' let content of fourthCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
		<div class="container_options" *ngSwitchCase="'fifth'">
			<div class="select_card" [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab, cardPosition)' *ngFor=' let content of fifthCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
		<div class="container_options" *ngSwitchCase="'sixth'">
			<div class="select_card" [style.background-color]="content.isClicked ? '#FFFFFF' : 'transparent'" (click)='changeCardTab(content.nameTab, cardPosition)' *ngFor=' let content of sixthCardOptions'>
				{{content.nameTab}}
			</div>
		</div>
	</div>
</div>
