.wrapper_select_card_content{
	background-color: #e4e4e4;
	max-width: 100%;
}
.select_card {
	width: 42%;
	font-size: 14px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0px 0px;
}
.card-content2{
	max-width: 70%;
	display: flex;
}

.container_options{
	width: 100%;
	display: flex;

}

.select_card {
	height: 50px;
}
