.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
		justify-content: center;
    background: rgb(0,65,96);
		background: linear-gradient(90deg, rgba(0,65,96,1) 0%, rgba(6,45,71,1) 17%, rgba(6,42,68,1) 38%, rgba(0,0,0,1) 71%); 
		color: white;
    font-weight: 600;
		width:100vw;
}
.wrapper_user{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}
.user_claim{
	font-size: 14px;
	margin-right: 20px;
}
.info_user{
	display: flex;
	align-items: center;
}
.header_icon{
	margin-right: 10px;
	font-size: 25px;
}
.avatar_circle{
	display: flex;
	align-items: center;
	font-size: 45px;
	margin-right: 35px;
}
.user_email{
	font-size: 12px ;
}
.company_name{
	font-size:30px;
	font-weight: 300;
}
.main_wrapper{
	display: flex;
	flex-direction:column;
	justify-content: center;
	width: 90vw;
}
.warning{
	display: flex;
	align-items: center;
	height: 40px;
	background-color: #feefef;
	color:#ed4242;
	width: 100vw;
	justify-content: center;
}
.container_warning_content{
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

}
.warning_icon{
	display: flex;
	align-items: center;
	font-size:18px;
}
.uppercase{
	color: #ff0000;
	font-weight: bold;
	margin-right: 10px;
}
.top {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}
.separate_arrow{
	margin: 0px 10px 0px 10px ;
}
.clicked_link {
	font-weight: bold;
}
.latest_text {
	text-decoration: underline;
	font-weight: 600;
}

.buttons_wrapper{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}
.agree_button{
	background-color: #008542;
	color: #ffffff;
	border-radius: 10px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	height: 40px;
	width: 230px;

}
.desagree_button{
	background-color: #ea5655;
	color: #ffffff;
	border-radius: 10px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 230px;
}
.option_icon{
	margin-right: 10px ;
	font-size: 20px;
}
