<section [ngClass]="{'dark-theme': isDarkTheme | async}" >
    <div class="header">
        <header>
            <div>
                <img class="card-img-top" src="/assets/mini.jpg">
                <mat-slide-toggle [checked]="isDarkTheme | async">Tema Escuro</mat-slide-toggle>
            </div>
            <div>
                <h1>Termo de Coleta</h1>
                <input type="text" disabled value="{{ dataAtual | date:'dd/MM/yyyy'}}" class="input_header"/>
            </div>
            <div>
                <h2>DIEGO APARECIDO MUNIZ DOS SANTOS</h2>
                <mat-form-field appearance="outline" value = 'option' style="min-width: 30%;">
                 <mat-label>Local</mat-label> 
                 <mat-select>
                    <mat-option value="ESCRITÓRIO	SECCIONAL BELO HORIZONTE">
                        ESCRITÓRIO SECCIONAL BELO HORIZONTE
                    </mat-option>
                    <mat-option value='COORDENADORIA REGIONAL PATOS DE MINAS'>
                        COORDENADORIA REGIONAL PATOS DE MINAS
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </header>
    </div>
    <div>
        <main class="main">
            <mat-drawer-container class="example-container">
                <!--<mat-drawer #drawer opened="true" class="example-sidenav" mode="side">
                    <main class="wrapper_content_sidenav">
                        <div style="width: 50%; height: 100px;display: flex;flex-direction:column;justify-content: space-between;">
                            <button mat-stroked-button (click)="clickedTab = 'Pesquisar'">Pesquisar</button>
                            <button mat-stroked-button (click)="clickedTab = 'Coordenadoria'">Coordernadoria</button>
                        </div>
                    </main>
                </mat-drawer>-->
                <aside  class="example-sidenav-content" *ngIf="clickedTab == 'Coordenadoria',else search">
                    <app-coordenadoria></app-coordenadoria>
                </aside>
                <ng-template #search>
                    <aside  class="example-sidenav-content-pesquisar">
                        <div style="width: 50%; display: flex;align-items: center;justify-content: center;flex-direction: column;">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Pesquise</mat-label>
                                <input matInput placeholder="Placeholder">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                            <button mat-flat-button color="primary" (click)="clickedTab = 'Coordenadoria'">Pesquisar</button>
                        </div>
                    </aside>
                </ng-template>
     
            </mat-drawer-container>
        </main>
    </div>
</section>






    
    
   

    
  
    


       
        
        
    


    

    


        


          
           
                  
           
           
