<div class="toolbar" role="banner">
	<div style="width: 90%;display: flex;align-items: center;justify-content: space-between;">
		<div>
			<span class="company_name">Butil PRO</span>
		</div>
		<div class="wrapper_user">
			<span class="user_claim">Operador REFAX</span>
			<div class="info_user">
				<mat-icon aria-hidden="false" class="header_icon">notifications</mat-icon>
				<mat-icon aria-hidden="false" class="header_icon">outbox</mat-icon>
				<mat-icon aria-hidden="false" class="avatar_circle">account_circle</mat-icon>
				<span class="user_email">jose.silva@petrobras.com.br</span>
			</div>
		</div>
	</div>
</div>
<div class="warning">
	<div class="container_warning_content">
		<mat-icon aria-hidden="false" class="warning_icon">warning_amber</mat-icon>
		<p class="uppercase">ATENÇÃO!</p>
		<p>Otimização Pendente</p>
	</div>
</div>
<div style="display:flex;justify-content: center;">
	<section class="main_wrapper">
		<div class="top">
			<div class="direction">
				<!-- condicao para negrito em cima da tag p necessita de url ... por enquanto negrito apenas no resumo geral-->
	<span>Butil Pro<span class="separate_arrow" > > </span>
		<span class="clicked_link">Resumo Geral</span> 
	</span>
			</div>	
			<div class="otimization">
				<span>Otimização : </span>
				<span class="latest_text">21/01/2002-10:00hr</span> 
			</div>
		</div>
		<div class="buttons_wrapper">
			<button mat-raised-button class="agree_button">
				<mat-icon aria-hidden="false" class="option_icon">done</mat-icon>
				Aceitar Otimização
			</button>
			<button mat-raised-button class="desagree_button">
				<mat-icon aria-hidden="false" class="option_icon">close</mat-icon>
				Descartar Otimização
			</button>
		</div>
		<app-main-content></app-main-content>
	</section>
</div>
	




