<div id="g">
  <div id="m">
    <h1 class="logo-brasao">Intranet PMMG</h1>
  </div>
  <div id="c">
    <div id="msgErro" class="no">
      <span class="ic erro"></span>
      <div class="msg">
        Usuário ou senha com problemas.
      </div>
    </div>
    <fieldset>
      <div><span class="ic usr"></span><input type="text" placeholder="Usuário"
          title="Digite o número de polícia, ou de colaborador, com 7 dígitos e sem hífen."></div>
      <div><span class="ic senha"></span><input type="password" placeholder="Senha"></div>
      <div id="imgCaptcha" class="no"><img src="./login_files/digite.jpg" class="captcha" alt="digite os caracteres"
          width="180" height="60"><input type="text" placeholder="Digite o código"></div>
    </fieldset>
    <span class="ic pro"></span>
    <div class="su">
      <!--input type="button" name="button" value="Entrar" onclick="document.getElementById('imgCaptcha').classList.toggle('no');document.getElementById('msgErro').classList.toggle('no')" /-->
      <input type="button" name="button" value="Entrar">
    </div>
    <a href="login.html#" class="item ci d tc">Alterar senha</a>
  </div>
  <ul id="identidade" class="identidade menor">
    <li class="at">
      <h5>Visão</h5> sermos reconhecidos como referência na produção de segurança pública, contribuindo para a
      construção de um ambiente seguro em Minas Gerais.
    </li>
    <li>
      <h5>Missão</h5> promover segurança pública por intermédio da polícia ostensiva, com respeito aos direitos humanos
      e participação social em Minas Gerais.
    </li>
    <li>
      <h5>Valores</h5> representatividade, respeito, lealdade, disciplina, ética, justiça e hierarquia.
    </li>
  </ul>
</div>