.wrapper_bars_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 11px ;
	font-size: 15px;
	max-width: 100%;
}

.container_bar{
	width: 100%;
	height: 20px;
	background: #979797;
	outline: none;
	border-radius: 30px;
	display: flex;
	align-items: center;
}
.minutes_counter {
	width: 20%;
}
.minutes_limit_bar {
  min-width: 50%;
  height: 13px;
  background: #ffffff;
	display: flex;
	justify-content: center;
	border-radius: 30px;
}
.wrapper_values_green{
	position:relative;
	background-color: #24ad60;
	display: flex;
	justify-content: center;
}

.wrapper_values_yellow{
	position:relative;
	background-color: #e26f00;
	display: flex;
	justify-content: center;
}

.yellow_state_counter{
	position:absolute;
	color:#e26f00;
	font-size: 13px;
	bottom: 18px;
}
.optimized_state_counter{
	position:absolute;
	color: #24ad60;
	font-size: 13px;
	bottom: 18px;
}
.edit_pen {
	display: flex;
	align-items: center;
	color: #d3d3d3;
	font-size: 22px;
	margin-left: 20px;
}

.second_text{
	text-align: end;
}
