<form [formGroup]="appForm" (ngSubmit)="onSubmit()" name="myForm" class="example-form">
  <div class="center">
<div class="center">
  <div class="div30">
    <mat-form-field appearance="fill" class="inputFieldMin">
      <mat-label required>
        Data
      </mat-label>
      <input formControlName="data" id="data" required matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2">
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="div30">
    <mat-form-field appearance="fill" class="inputFieldMed">
      <mat-label>
        Hora
      </mat-label>
      <input formControlName="horas" id="horas" name="myName" ng-model="myName" required matInput type="time"
        value=`${data.mission.loadDate.getHours()}:${data.mission.loadDate.getMinutes()}`>
    </mat-form-field>
  </div>
  <div class="div40" style="vertical-align: top;">
    <mat-radio-group>
      <mat-label class="radioLabel">Ação*</mat-label>
      <mat-radio-button value="1" class="radios"aria-label="1">Certificação</mat-radio-button>
      <mat-radio-button value="2" class="radios">Fiscalização</mat-radio-button>
  </mat-radio-group>
  
  </div>

</div>
<div class="center">
  <div class="div100" >
    <mat-form-field appearance="fill" class="inputFieldMed">
      <mat-label>Local*</mat-label>
      <mat-select [(value)]="localselecionado" >
        
        <mat-option  *ngFor="let food of local1" [value]="food.value"  required>
          {{food.viewValue}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <!-- <p>You selected: {{localselecionado}}</p> -->
    <!-- <p *ngIf="localselecionado === 'Outros'"></p> -->
  </div>
  <div class="div20">
  </div>
  <mat-form-field *ngIf="localselecionado === 'Outros'" appearance="fill" class="inputFieldMed" >
  <!-- <mat-form-field *ngIf="localselecionado" appearance="fill" class="inputFieldMed" > -->
    <mat-label>
      Local
    </mat-label>
    <input  type="text" name="numerodacoleta" ng-model="numerodacoleta" required matInput
      placeholder="Novo Local">
  </mat-form-field>
</div>
</div>
  <div class="center">
    <div class="div100">
      <button mat-flat-button color="primary" class="button" type="reset">Salva</button>
    </div>
  </div>

 </form>
        
       

      


         


        

                


                

                
               

               
                 
              
                