<section>
	<h1>Principais Trocas</h1>
	<div class="container">
		<div>
			<div class="wrapper_exchanges">
				<div class="exchanges">
					<div>
						<mat-icon [style.color]="'#e0711c'">edit</mat-icon>
						<span class="name_exchange">aaa</span>
					</div>
					<div>
						<mat-icon [style.color]="'#a8a8a8'">chevron_right</mat-icon>
						<span class="definition_exchange">aaa</span>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper_green_card">
			<div class="green_card">
				<h2>Máximo de trocas</h2>
				<div class="wrapper_number">
					<span>4</span>
					<div class="icons">
						<mat-icon [style.color]="'white'">expand_less</mat-icon>
						<mat-icon [style.color]="'white'">expand_more</mat-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
