<mat-tab-group animationDuration="200ms">

  <mat-tab label="Quantidade de Candidatos por estado">
    <candidato-por-estado></candidato-por-estado>
  </mat-tab>

  <mat-tab label="Percentual Obesidade por gênero">
    <percentual-obesidade-por-genero></percentual-obesidade-por-genero>
  </mat-tab>

  <mat-tab label="IMC por faixa Etária">
    <imc-por-faixa-idade></imc-por-faixa-idade>
  </mat-tab>

  <mat-tab label="Média de idade por tipo sanguineo">
    <media-idade-tipo-sanguineo></media-idade-tipo-sanguineo>
  </mat-tab>

  <mat-tab label="Quantidade de doadores por tipo sanguineo">
    <doadores-tipo-sanguineo></doadores-tipo-sanguineo>
  </mat-tab>

</mat-tab-group>