<div class="wrapper_main_content">
	<div class="total_values" (click)='mainSection = !mainSection'>
		<p>Valores total dos cenários</p>
		<mat-icon *ngIf='mainSection == true , else arrowUp' aria-hidden="false" class="arrow_icon_down">arrow_drop_down</mat-icon>
		<ng-template #arrowUp>
		<mat-icon aria-hidden="false" class="arrow_icon_up">arrow_drop_up</mat-icon>
		</ng-template>
	</div>
	<div>
		<p class="latest_otimization_title">Otimização 21/01/2022 10:00</p>
		<div class="wrapper-cards">	
			<div class="card">
				<app-select-card-content  (currentlyTab)="getTab($event)" cardPosition='firts'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnFirstCard'></app-card-content>
					<app-generate-labels></app-generate-labels>
				</div>
			</div>
			<div class="card">
				<app-select-card-content (currentlyTab)="getTab($event)" cardPosition='second'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnSecondCard'></app-card-content>
					<app-generate-labels></app-generate-labels>
				</div>
			</div>
			<div class="card">
				<app-select-card-content (currentlyTab)="getTab($event)" cardPosition='third'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnThirdCard'></app-card-content>
					<app-generate-labels [card]='currentlyTabOnThirdCard'></app-generate-labels>
				</div>
			</div>
			<div class="card">
				<app-select-card-content  cardPosition='fourth'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnFourthCard'></app-card-content>
					<app-generate-labels [card]='currentlyTabOnFourthCard'></app-generate-labels>
				</div>
			</div>
			<div class="card">
				<app-select-card-content cardPosition='fifth'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnFifthCard'></app-card-content>
					<app-generate-labels [card]='currentlyTabOnFifthCard'></app-generate-labels>
				</div>
			</div>
			<div class="card">
				<app-select-card-content cardPosition='sixth'></app-select-card-content>
				<div class="container_card_content">
					<app-card-content [tabOn]='currentlyTabOnSixthCard'></app-card-content>
					<app-generate-labels [card]='currentlyTabOnSixthCard'></app-generate-labels>
				</div>
			</div>
		</div>
	</div>
</div>
