.table-style{
    padding: 20px;
    width: 100%;
}

.table-line{
    padding: 20px;
    width: 100%;
    border-collapse:  collapse;
}

td,tr,th{
    border: 1px solid; 
}

.table-header{
    padding: 20px;
    width: 100%;
}

.table-def{
    padding: 20px;
    width: 100%;
}

