<form [formGroup]="appForm" name="myForm" class="example-form">
  <div class="center">
    <div class="center">
      <div class="div100">
        <div class="div20">
          <!-- <h1>
            <mat-label class="div90">Autoridade Fiscal</mat-label>
          </h1> -->
          <mat-form-field appearance="fill" class="inputFieldMin">
            <mat-label>Número de Masp</mat-label>
            <input (blur)="onBlur3()" formControlName="numeromasp" id="numeromasp" type="text" autocomplete="off"
              matInput #postalCode maxlength="50" required>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="div40">
          <mat-form-field appearance="fill" class="inputFieldMed mat-form-field-disabled">

            <mat-label>Nome</mat-label>
            <input formControlName="nome" [disabled]="true" type="text"  id="nome" matInput placeholder="100 " matInput
              placeholder=" " matInput name="" required>

            

            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="div40">
          <mat-form-field appearance="fill" class="inputFieldMed">
            <mat-label>Cargo</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill" class="inputFieldMed">
            <mat-label>Cargo</mat-label>
            <input formControlName="cargo" type="text" id="cargo" matInput name="cargo" autocomplete="off" required
              name="identificador">
            <mat-hint></mat-hint>
          </mat-form-field> -->
        </div>
      </div>
    </div>
    <div class="div100">
      <div class="center">
        <div class="div50">
          <mat-form-field appearance="fill" class="inputFieldMin">
            <mat-label>Responsável ou Representante Legal</mat-label>
            <input formControlName="nome1" type="text" class="form-control" id="nome1" matInput maxlength="100"
              value="nome1" name="nome1" required>
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="div50">
          <mat-form-field appearance="fill" class="inputFieldMin">
            <mat-label>Identidade</mat-label>
            <input formControlName="identidade" type="number" name="identidade" id="identidade" matInput placeholder="Ex">

            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="div100">
      
      <mat-radio-group aria-label="Select an option">
        <div>
          <h1>
            <label class="container">Não Assinado
              <input type="checkbox" id="meuCheckbox" (change)="opentestemunha()">
              <span></span>
            </label>
          </h1>
        </div>
      </mat-radio-group>
    </div>
<!-- 
<div class="100">
  <div class="center">
    <div class="40">
    <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      
        <mat-form-field appearance="fill" class="inputFieldMin">
          <mat-label>Testemunha 1</mat-label>
          <input [(ngModel)]="testemunhas[0].nome" formControlName="n" type="text" class="form-control" id="" matInput
            maxlength="100" value="" name="">
          <mat-icon matSuffix></mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
          </div>
          </div>
<div class="40">
    <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMed">
        <mat-label>Identidade</mat-label>
        <input [(ngModel)]="testemunhas[0].identidade" formControlName="" type="text" name="" id="" matInput
          placeholder="Ex">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="20">
    <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMin">
        <mat-label>Testemunha 2</mat-label>
        <input [(ngModel)]="testemunhas[1].nome" formControlName="n" type="text" class="form-control" id="" matInput
          maxlength="100" value="" name="">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
    <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMed">
        <mat-label>Identidade</mat-label>
        <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="text" name="" id="" matInput
          placeholder="Ex">
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
  </div>
</div> -->



<div class="div100">
  <div class="center">
    <div class="div50">
      <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMin">
        <mat-label>Testemunha</mat-label>
        <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="text" name="" id="" matInput
          placeholder="Ex">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    </div>
    <div class="div50">
      <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMin">
        <mat-label>Identidade</mat-label>
        <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="number" name="" id="" matInput
          placeholder="Ex">

        <mat-hint></mat-hint>
      </mat-form-field>
      
    </div>
    </div>
  </div>
</div>
<!-- 
<div class="div100">
  <div class="center">
    <div class="div50">
      <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMin">
        <mat-label>Testemunha</mat-label>
        <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="text" name="" id="" matInput
          placeholder="Ex">
        <mat-icon matSuffix></mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    </div>
    <div class="div50">
      <div [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
      <mat-form-field appearance="fill" class="inputFieldMin">
        <mat-label>Identidade</mat-label>
        <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="number" name="" id="" matInput
          placeholder="Ex">

        <mat-hint></mat-hint>
      </mat-form-field>
      
    </div>
    </div>
  </div>
</div> -->
</div>

  <div class="100">
    <div class="center">
      <button mat-flat-button color="primary" class="button" type="button" (click)="storeClient()"
        style=" border:5px solid;">Salvar</button>
        <button mat-flat-button color="primary" class="button" TYPE="radio" NAME="Selection" (click)="storeData()"
        style=" border:5px solid;">Finalizar</button>

    </div>
  </div>

</form>