
<form [formGroup]="appForm"   name="myForm" class="example-form">
<!--    
   <h1>
    <mat-label  >Autoridade Fiscal</mat-label>
</h1> -->

    <div class="center">
      <div class="center">
        
        <div class="div100">
            <div class="div40">
          <mat-form-field appearance="fill" class="inputFieldMin">
            <mat-label>Número de Masp</mat-label>
            <input (blur)="onBlur3()" formControlName="numeromasp"   id="numeromasp" type="text" autocomplete="off" matInput #postalCode
              maxlength="11" required>
            

  
            <mat-hint></mat-hint>
          </mat-form-field>
      
  </div>
        <div class="div40">
                
          <mat-form-field appearance="fill" class="inputFieldMed">
           
            <mat-label>Nome</mat-label>
            <input formControlName="nome" type="text" autocomplete="off" id="nome" matInput
              placeholder=" " matInput name="nome"  required>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  
        <div class="div20">
          <mat-form-field appearance="fill" class="inputFieldMed">
            <mat-label>Cargo</mat-label>
            <input formControlName="cargo" type="text" matInput name="cargo" autocomplete="off" required >
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  
        <div class="div100">
          <mat-form-field appearance="fill" class="inputFieldMin">
            <mat-label >Responsalve Legal/Representante Legal</mat-label>
            <input  formControlName="nome1" type="text" class="form-control" id="nome1" matInput
              maxlength="100"  value="nome1" name="nome1" required>
              
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>

          </mat-form-field>
        </div>
  
        <div class="div100">
          <mat-form-field appearance="fill" class="inputFieldMed" >
            <mat-label>Identidade</mat-label>
            <input  formControlName="identidade"  type="text" name="identidade" id="identidade" matInput placeholder="Ex">
  
            <mat-hint></mat-hint>

            
          </mat-form-field>
          

          <!-- <mat-radio-group aria-label="Select an option">
           <h1>
            <INPUT TYPE="radio" NAME="Selection" ONCLICK="alert('Termo assinado')">Assinado<BR>
            <INPUT TYPE="radio" NAME="Selection" ONCLICK="alert('Termo não assinado')">Não Assinado<BR>
                
            </h1>
          </mat-radio-group> -->
          <div class="div100">

            <div class="div100">
              
          <mat-radio-group aria-label="Select an option">
          <div>
           
            <input type="checkbox" id="meuCheckbox" (change)="opentestemunha()">
            <label for="scales">Assinado</label>
          </div>
          
          
        </mat-radio-group>
          </div>
        </div>


            <div class="div100" [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMin">
                <mat-label>Testemunha1</mat-label>
                <input [(ngModel)]="testemunhas[0].nome" formControlName="n" type="text" class="form-control" id="" matInput maxlength="100"
                  value="" name="">
              
                <mat-icon matSuffix></mat-icon>
                <mat-hint></mat-hint>
              
              </mat-form-field>
            </div>

            <div class="div100"  [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMed">
                <mat-label>Identidade</mat-label>
                <input [(ngModel)]="testemunhas[0].identidade" formControlName="" type="text" name="" id="" matInput placeholder="Ex">
            
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>

            <!-- <div class="div100" [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMin" >
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="testemunhas[1].nome" formControlName="n" type="text" class="form-control" id="" matInput maxlength="100"
                  value="" name="">
              
                <mat-icon matSuffix></mat-icon>
                <mat-hint></mat-hint>
              
              </mat-form-field>
            </div> -->

            <!-- <div class="div100"  [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMed">
                <mat-label>Identidade</mat-label>
                <input [(ngModel)]="testemunhas[1].identidade" formControlName="" type="text" name="" id="" matInput placeholder="Ex">
            
                <mat-hint></mat-hint>
              </mat-form-field>
            </div> -->

            <!-- <div class="div100"  [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMin">
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="testemunhas[2].nome" formControlName="n" type="text" class="form-control" id="" matInput maxlength="100"
                  value="" name="">
              
                <mat-icon matSuffix></mat-icon>
                <mat-hint></mat-hint>
              
              </mat-form-field>
            </div> -->

            <!-- <div class="div100"  [ngStyle]="{'display': isOpentestemunha ? 'block':  'none'}">
              <mat-form-field appearance="fill" class="inputFieldMed">
                <mat-label>Identidade</mat-label>
                <input [(ngModel)]="testemunhas[2].identidade" formControlName="" type="text" name="" id="" matInput placeholder="Ex">
            
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
           -->
          

       
    
          
       
        </div>
      
  
      <div class="div20">
        <button mat-flat-button color="primary" class="button"   type="button">Salva</button>

        
        <button mat-flat-button color="primary" class="button" [disabled]="!appForm.valid" TYPE="radio" NAME="Selection" ONCLICK="alert('Finalizado com')">Finalizar</button>
        
      </div>
     </div>
  
  </form>
  