/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body:not(.carregando){
    background:linear-gradient(#467caa 210px, #f4f5f5 210px) no-repeat #f4f5f5
}
body:not(.carregando) h2{
    display:none
}