.wrapper_orientation{
	display: flex;
	align-items: center;
}
.wrapper_orientation span {
	font-size: 13px;
	margin-right: 20px;
}
.cicle_color_yellow{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color:#e26f00;
	margin-right:20px;
}
.cicle_color_green{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: green;
	margin-right:20px;
}
.cicle_color_white{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid black;
	margin-right:20px;
}

.container_footer{
	display:flex;
	align-items: flex-end;
	justify-content: space-between;
	height:100px
}

.container_orientation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.show_more {
	display: flex;
	align-items: center;
	font-size: 13px;
}
.show_more mat-icon{
	display:flex;
	align-items: center;
	font-size: 13px;
	margin-left: 12px;
}
